@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --text-rgb: 255, 255, 255;
  --base: 7, 20, 34;
  --primary: 11, 27, 43;
  --secondary: 17, 33, 49;
  --input: 4, 15, 26;
}

.base{
  background-color: rgb(var(--base));
}
.primary{
  background-color: rgb(var(--primary));
}
.secondary{
  background-color: rgb(var(--secondary));
}
.input{
  background-color: rgb(var(--input));
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--foreground-rgb));
}
